/* Background pattern from subtlepatterns.com */

body {
  width: 320px;
  height: 480px;
  background-image: url("paper.png");
}

.buttons {
  height: 32px;
  overflow: hidden;
}

.buttons:after {
  content: "";
  clear: both;
}

.buttons button {
  border-style: none;
  cursor: pointer;
  background-color: #eee;
  transition: background-color 0.2s linear;
  width: 32px;
  height: 32px;
  padding: 4px;
  white-space: nowrap;
  float: right;
}

.buttons button:hover {
  background-color: white;
  width: auto;
}

.buttons button.remove-group {
  float: left;
}

.buttons button .fa {
  font-size: 24px;
  vertical-align: middle;
}

.buttons button label {
  display: inline-block;
  cursor: pointer;
  height: 24px;
  line-height: 24px;
  margin: 0 1em;
}

.buttons button label input {
  width: 5em;
}

*:focus {
  outline: none;
}

.group-list .group {
  min-height: 64px;
  cursor: pointer;
  background-color: #eee;
  transition: border 0.2s linear, background-color 0.2s linear;
  margin: 1em 0;
  padding: 1em;
  border: 1px solid rgba(0, 0, 0, 0);
}

.group-list .group:hover {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.group-list .group h2 {
  margin: 0 0 0.5em 0;
}

.group-list .group .favicon {
  width: 32px;
  height: 32px;
  margin: 4px;
}
